.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
# Local Netlify folder
.netlify
yarn-error.log
yarn.lock
package-lock.json
fetch_and_deploy.py
venv
deployment.log
deploy_server.py