@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.image-render-pixel {
		image-rendering: pixelated;
	}
}

.color-0 {
	color: rgb(255, 0, 0);
}
.color-1 {
	color: rgb(255, 128, 0);
}
.color-2 {
	color: rgb(0, 0, 255);
}
.color-3 {
	color: rgb(0, 255, 0);
}
.color-4 {
	color: rgb(255, 0, 255);
}
